# 7. Control flow statements & patterns
# 7. Declaraciones de flujo de control & patrones

Basic control constructs of the language:
- conditions: `if ... elif ... else ...`
- loops: `for ... in ... else ...`, `while ... else ...`
- exceptions: `try ... except ... else ... finally`

Construcciones de control básicas del lenguaje:
- condiciones: `if ... elif ... else ...`
- bucles (ciclos): `for ... in ... else ...`, `while ... else ...`
- excepciones: `try ... except ... else ... finally`

In [1]:
v = 49
print('is the simple condition is met?', v >= 25)
print('is the compound condition met?', (v >= 25) and (v < 40))

is the simple condition is met? True
is the compound condition met? False

In [2]:
a, b = 10, 20
print( (a, b) [a < b] ) # (a, b)[1]
print({0: a, 1: b} [a < b])
print({False: a, True: b} [a < b])
print((lambda: a, lambda: b)[a < b]())

20
20
20
20

In [3]:
# I. if: simple conditions / condiciones simples
string = 'hello hola hey oye'
if ' ' in string:
    print('There are white spaces in the printed line.')
    print(string)

There are white spaces in the printed line.
hello hola hey oye

In [4]:
if (0 == 1) or (0 != 1): # tautology
    print("At least one of the conditions is True.")

At least one of the conditions is True.

In [5]:
# II. if-else
a, b = map(float, '13.56 23.567'.split())
# a, b = map(float, '13.56 23.567'[::-1].split())
if a <= b:
    print(f'{a:.2f} <= {b:.2f}')
else:
    print(f'{a:.2f} > {b:.2f}')

13.56 <= 23.57

In [6]:
if ... : pass
else: print('if Ellipsis')
print(f'{bool(...) = }, {type(...) = }')
print(f'{bool(None) = }, {type(None) = }')
if None: pass # 0, {}, (), []
else: print('`if` None => `else` will be done')

bool(...) = True, type(...) = <class 'ellipsis'>
bool(None) = False, type(None) = <class 'NoneType'>
`if` None => `else` will be done

In [7]:
sample_text = "this text contains scientific notations:  -1.00e+21, 1.00e+21"
import re
def scientific_notation(text):
    re_pattern= re.compile('[-+]?[\d]+\.?[\d]*[Ee](?:[-+]?[\d]+)?')
    findings = re.findall(re_pattern, text)
    if not findings:
        print("scientific notations were not found")
        return
    else:
        print("scientific notations were found")
        return findings
scientific_notation(sample_text)

scientific notations were found

['-1.00e+21', '1.00e+21']

In [8]:
# III. if-elif-else
import random
x = random.randint(-100, 100)
if x > 0:
     print(f'{x} is a positive number')
elif x < 0:
     print(f'{x} is a negative number')
else:
     print(f'{x} is zero')

35 is a positive number

In [9]:
# IV. if-if-elif-elif-...-else-else
x = 80
if 0 <= x <= 200:
    print("0 <= х <= 200")
    if x > 150:
        print("150 < x <= 200")
    elif x == 100:
        print("x = 100")
    elif x < 50:
        print("0 <= x < 50")
    else:
        print("50 <= x <= 150 & x <> 100")
else:
    print("x < 0 | x > 200 ")

0 <= х <= 200
50 <= x <= 150 & x <> 100

In [10]:
# V. `if` in one line / `if` en una línea
x = -10
print("х < 0") if x < 0 else print("x >= 0")
cond = True
print('hello hola hey oye') if cond else None
a, b = 10, 20
print("a>b") if a > b else print("a=b") if a == b else print("a<b")
if ' ' in 'hello hola': print(1); print(2); print(3)

х < 0
hello hola hey oye
a<b
1
2
3

In [11]:
x, y = 10, 100
z1 = 1 + (x if x > y else y) + 2
z2 = 1 + (x or y) + 2
z3 = 1 + (x and y) + 2
z1, z2, z3

(103, 13, 103)

In [12]:
import random
x = random.randint(-100, 100)
pos = lambda x: print(f'{x} is a positive number')
neg = lambda x: print(f'{x} is a negative number')
zero = lambda x: print(f'{x} is zero')
pos(x) if x > 0 else neg(x) if x < 0 else zero(x)

-35 is a negative number

In [13]:
def loop_digit_sum(n, s=0):
    while n > 0: s += n % 10; n = n // 10
    return s
print(loop_digit_sum(123456789))
def loop_exponent(x, n, p=1):
    while n > 0: p *= x; n -= 1
    return p
print(loop_exponent(3, 101))

45
1546132562196033993109383389296863818106322566003

In [14]:
# the `for` loop with no content
# el bucle `for` sin contenido
for x in [0, 1, 2]: pass

In [15]:
# I. for-in: simple loops / bucles simples
for i in range(1, 16, 3):
    print(i ** i, end=' ')
print()
print([i ** i for i in range(1, 16, 3)])
print({i ** i for i in range(1, 16, 3)})
print({i:i ** i for i in range(1, 16, 3)})
print((i ** i for i in range(1, 16, 3)))
print(*(i ** i for i in range(1, 16, 3)))

1 256 823543 10000000000 302875106592253
[1, 256, 823543, 10000000000, 302875106592253]
{256, 1, 10000000000, 823543, 302875106592253}
{1: 1, 4: 256, 7: 823543, 10: 10000000000, 13: 302875106592253}
<generator object <genexpr> at 0x79639ba8f0d0>
1 256 823543 10000000000 302875106592253

In [16]:
# II. for-in: nested loops / bucles anidados
d = {}
for i in ['a', 'b', 'c']:
    d[i] = []
    for j in range(1, 4):
        d[i].append(i * j)
print(d)
print({i:[i * j for j in range(1, 4)] for i in ['a','b','c']})

{'a': ['a', 'aa', 'aaa'], 'b': ['b', 'bb', 'bbb'], 'c': ['c', 'cc', 'ccc']}
{'a': ['a', 'aa', 'aaa'], 'b': ['b', 'bb', 'bbb'], 'c': ['c', 'cc', 'ccc']}

In [17]:
# III. for-in=>if-else: loops & conditions / bucles & condiciones
for i in range(7):
    if i %2 != 0:
        print(i ** i, end=' ')
    else:
        print(i, end=' ')
print()
print([i ** i if i %2 != 0 else i for i in range(7)])

0 1 2 27 4 3125 6
[0, 1, 2, 27, 4, 3125, 6]

In [18]:
for i in range(15):
    if i % 7 != 0:
        pass
    else:
        print(f'{i} is a multiple of 7')

0 is a multiple of 7
7 is a multiple of 7
14 is a multiple of 7

In [19]:
count_k, sum_k = 0, 0
list_k = [3, 8, None, 4, 9, None, 7]
for k in list_k:
    if k is None:
        continue
    sum_k += k; count_k += 1
mean_k = sum_k / count_k
print(f'The mean value in the list {list_k} is equal {mean_k}.')

The mean value in the list [3, 8, None, 4, 9, None, 7] is equal 6.2.

In [20]:
# IV. for-in-else
# the `for` loop is completely done => `else` will be done too
# el bucle `for` está completamente hecho => `else` también se hará
c, n = 1, 7
for i in range(1, n):
    c *= i
else:
    c *= n
print(f'{c = }')
f = lambda n: 1 if n <= 1 else n * f(n - 1)
print(f'{f(n) = }')
f = lambda x: x and x * f(x - 1) or 1
print(f'{f(n) = }')
f = lambda x, c: x * c and x * f(x - 1, c) or c
print(f'{f(n, c=1) = }')

c = 5040
f(n) = 5040
f(n) = 5040
f(n, c=1) = 5040

In [21]:
# `break` => `else` will not be done too
# `break` => `else` tampoco se hará
c, n = 1, 7
for i in range(1,n):
    c *= i
    if i == 6:
        break
else:
    c *= n
print(f'{c = }')
print(f'{f(n, c=1) / n = }')

c = 720
f(n, c=1) / n = 720.0

In [22]:
# for-in-(for-in-break)-else
def number_filter(n):
    prime, not_prime = [], [ ]
    for i in range(2, n):
        for x in range(2, i):
            if i % x == 0:
                not_prime.append(i)
                break
        else:
            prime.append(i)
    return prime, not_prime
prime, not_prime = number_filter(30)
print(f'{prime = }', f'{not_prime = }', sep='\n')

prime = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
not_prime = [4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28]

In [23]:
# V. `for-if` in one line / `for-if` en una línea
print([i for i in [1, 2, 3, 2] if i==2])
print([i if i==2 else 0 for i in [1, 2, 3, 2]])

[2, 2]
[0, 2, 0, 2]

In [24]:
# I. while
c = 7
while c > 0:
    c -= 1
print(f'{c = }')

c = 0

In [25]:
# II. while-else
x, s, m = 0, 0, 500
while (s < m - x):
    s += x
    x += 1
else:
    print(f'the sum of integers from 0 to {x - 1} '
          f'is equal to {s} and less than {m}')
print(sum([i for i in range(32)]))

the sum of integers from 0 to 31 is equal to 496 and less than 500
496

In [26]:
# III. while-if-break-else
x, s, m, n = 0, 0, 500, 30
while (s < m - x):
    s += x
    x += 1
    if (x > n):
        break
else:
    print('`break` => `else` will not be done')
print(f'the sum of integers from 0 to {n} '
      f'is equal to {s} and less than {m}')
print(sum([i for i in range(31)]))

the sum of integers from 0 to 30 is equal to 465 and less than 500
465

In [27]:
factorial, n = 1, 7
while True:
    factorial = factorial * n
    n -= 1
    if n == 1:
        break
print(factorial)

5040

[Dynamic Programming](https://www.geeksforgeeks.org/dynamic-programming/)

In [28]:
%%timeit
# dynamic programming is mainly an optimization over recursion
# la programación dinámica es principalmente una optimización sobre la recursividad
recursive_digit_sum = lambda n: n if n<10 else (n%10) + recursive_digit_sum(n//10)
recursive_digit_sum(123456789123456789123456789)
recursive_exponent = lambda x, n: 1 if n==0 else x*recursive_exponent(x, n-1)
recursive_exponent(3, 101)

33.2 µs ± 9.77 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [29]:
%%timeit
def loop_digit_sum(n, s=0):
    while n > 0: s += n % 10; n = n // 10
    return s
loop_digit_sum(123456789123456789123456789)
def loop_exponent(x, n, p=1):
    while n > 0: p *= x; n -= 1
    return p
loop_exponent(3, 101)

18.7 µs ± 4.22 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [30]:
# lst - list(int), n = len(lst), s - sum
# task: how many ways to get s by summation of given integers
# tarea: cuántas formas de obtener s mediante la suma de números enteros dados
def recursive_count(lst, s, n):
    if (s < 0) or (n <= 0):
        return 0
    elif (s == 0):
        return 1
    return recursive_count(lst, s, n-1) + recursive_count(lst, s-lst[n-1], n)
lst = [2, 6, 3, 5]
n = len(lst); s = 10
print(recursive_count(lst, s, n))
func_string = ('rec_count = lambda lst, s, n: '
               '0 if (s < 0) or (n <= 0) else 1 if (s == 0) else '
               'rec_count(lst, s, n-1) + rec_count(lst, s-lst[n-1], n)')
exec(func_string)
print(rec_count(lst, s, n))
# 5 ways: [2, 2, 2, 2, 2], [2, 2, 3, 3], [2, 2, 6], [2, 3, 5], [5, 5]

5
5

In [31]:
def update_count(lst, s, n, tab):
    if (n <= 0) or (s < 0):
        return 0
    if (s == 0):
        tab[n][s] = 1
        return tab[n][s]
    if (tab[n][s] != -1):
        return tab[n][s]
    tab[n][s] = update_count(lst, s-lst[n-1], n, tab)
    tab[n][s] += update_count(lst, s, n-1, tab)
    return tab[n][s]
lst = [2, 6, 3, 5]
n = len(lst); s = 10
tab = [[-1 for _ in range(s+1)] for _ in range(n+1)]
print(update_count(lst, s, n, tab))
print('\n'.join(''.join(f'{str(_):^3}' for _ in t) for t in tab))

5
-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 1  0  1  0  1  0  1  0  1 -1  1
-1  0  1 -1  1  0 -1  0 -1 -1  2
-1  0  1 -1  1  1 -1  1 -1 -1  3
 1 -1 -1 -1 -1  2 -1 -1 -1 -1  5

In [32]:
def loop_count(lst, n, s):
    tab = [1] + [0 for _ in range(s)]
    for i in range(0, n):
        for j in range(lst[i], s+1):
            tab[j] += tab[j-lst[i]]
    print(tab)
    return tab[s]
lst = [2, 6, 3, 5]
n = len(lst); s = 10
loop_count(lst, n, s)

[1, 0, 1, 1, 1, 2, 3, 2, 4, 4, 5]

5

In [33]:
# IV. while-if-else, while-if-continue
i = 0
while i < 7:
    i += 1
    if i % 3 == 0:
        print(f'{i * i = };', end=' ')
    else:
        print(f'{i = };', end=' ')
print()
i = 0
while i < 10:
    i += 1
    if i % 3 == 0:
        continue
    print(f'{i = };', end=' ')

i = 1; i = 2; i * i = 9; i = 4; i = 5; i * i = 36; i = 7;
i = 1; i = 2; i = 4; i = 5; i = 7; i = 8; i = 10;

In [34]:
# V. `while` in one line / `while` en una línea
while True: print('hello || hola'); break
cond = 1 # True
while cond: print('yes || no'); cond = 0

hello || hola
yes || no

In [35]:
# `while` in one line with lambda functions
# `while` en una línea con funciones lambda
end_c = lambda c, n: (c < n)*' ' + (c == n)*'\n'
c, n = 0, 9
while c <= n: print(c ** 3, end=end_c(c, n)); c = c + 1

0 1 8 27 64 125 216 343 512 729

In [36]:
# custom functions / funciones personalizadas
# this one contains an iteration in a loop
# este contiene una iteración en un bucle
def update_1(): global c; print(c, end=' '); c += 1
# this one contains a loop exit
# este contiene una salida de bucle
def update_2(): global c; print('\n%d^3 = 125' % c); c = 10
c = 0
while c < 10: update_1() if (c ** 3 != 125) else update_2()

0 1 2 3 4
5^3 = 125

In [37]:
# VI. while-while
def prime_divisors(n):
    divs, d = {1}, 2
    while n > 1:
        while n % d == 0:
            divs.add(d)
            n = n // d
        d += 1
    return divs
prime_divisors(18361258)

{1, 2, 17, 19, 43, 661}

In [38]:
# I. try-except (assert)
try:
    x, y = 1, 0
    print(x / y)
except ZeroDivisionError as msg:
    print(msg)
print("The program still runs!")
print(50*'-')
try:
    x, y = 1, 0
    assert y !=0 , "Division by zero is impossible!"
    print(x / y)
except AssertionError as msg:
    print(msg)
print("The program still runs!")

division by zero
The program still runs!
--------------------------------------------------
Division by zero is impossible!
The program still runs!

In [39]:
odd_lambda = lambda x: int(x) if (x%2 != 0) and (int(x) == x) else None
def odd_assert(x):
    assert((x % 2 != 0) and (int(x) == x))
    return x
odd_lambda(3), odd_lambda(3.1), odd_assert(3), # odd_assert(3.1) # AssertionError

(3, None, 3)

In [40]:
def assert1(cond):
    assert cond
def assert2(cond):
    try:
        assert cond
    except AssertionError:
        print("the assertion error!")
eq1 = lambda x, y: assert1(x == y)
eq2 = lambda x, y: assert2(x == y)
print(f'{eq1([1, 0], [1., 0.]) = }', end='\n'+50*'-'+'\n')
print(f'{eq2([1, 0], [2., 0.]) = }')

eq1([1, 0], [1., 0.]) = None
--------------------------------------------------
the assertion error!
eq2([1, 0], [2., 0.]) = None

In [41]:
# II. try-except-except
try:
    print(name, 1 / 0)
except NameError:
    print("The variable `name` is not defined")
except:
    print("Something else went wrong")
print(50*'-')
try:
    print(1 / 0, name)
except NameError:
    print("The variable `name` is not defined")
except:
    print("Something else went wrong")

The variable `name` is not defined
--------------------------------------------------
Something else went wrong

In [42]:
# III. try-except-else
for x, y in [(10, 10), (10, 20)]:
    print(f'{x == y = }')
    try:
        assert(x == y)
        print('run commands after try')
    except AssertionError as error:
        print("the assertion error!")
        print('run commands after except')
    else:
        print('run commands after else')
    print()

x == y = True
run commands after try
run commands after else

x == y = False
the assertion error!
run commands after except

In [43]:
# IV.  try-assert-except-else-try-assert-except-finally
x, y = 10, 10.5
for x, y in [(10, 10.5), (10.5, 10.5), (10, 10)]:
    try:
        assert(x == y)
    except AssertionError as error1:
        print(f'the numbers {x, y} are not equal')
    else:
        try:
            assert(x == int(x))
            assert(y == int(y))
        except AssertionError as error2:
            print(f'the numbers {x, y} are not integer')
    finally:
        print(f'detected exceptions for {x, y} are printed' +'\n')

the numbers (10, 10.5) are not equal
detected exceptions for (10, 10.5) are printed

the numbers (10.5, 10.5) are not integer
detected exceptions for (10.5, 10.5) are printed

detected exceptions for (10, 10) are printed

In [44]:
def try_test(lst, id):
    try:
        print('run the try block =>')
        lst[id]
    except Exception as e:
        print('run the exception block =>', e)
    else:
        print('run the else block =>')
    finally:
        print('run the finally block =>')
try_test([1], 0); print(50*'='); try_test([1], 1)

run the try block =>
run the else block =>
run the finally block =>
==================================================
run the try block =>
run the exception block => list index out of range
run the finally block =>

In [45]:
# V.  if-(try-raise-except)-else
x = 10
if x > 5:
    try:
        raise Exception
    except Exception as error:
        print(f'x must be <= 5, x was equal {x}')
else:
    print(x)

x must be <= 5, x was equal 10

In [46]:
# build custom exceptions / crear excepciones personalizadas
class UserError1(Exception):
    def __init__(self, value):
        self.value = value
    def __repr__(self):
        return repr(f'the error value: {self.value}')
# any numeric value / cualquier valor numérico
try:
    raise UserError1(10e12)
# the value of this exception is in errors
# el valor de esta excepción está en errores
except UserError1 as error:
    print(f'custom exception #1: {error, error.value}')

custom exception #1: ('the error value: 10000000000000.0', 10000000000000.0)

In [47]:
class UserError2(ValueError):
    def __init__(self, args):
        self.args = args
    def __repr__(self):
        return repr('the error value: ' +\
                    ''.join(str(arg) for arg in self.args))
try:
    raise UserError2("hello")
except UserError2 as error:
    print(f'custom exception #2: {error, error.args}')

custom exception #2: ('the error value: hello', ('h', 'e', 'l', 'l', 'o'))

In [48]:
class Error(Exception):
    pass
class UserError3(Error):
    def __init__(self, msg, prev, next):
        self.prev = prev
        self.next = next
        self.msg = msg
try:
    raise UserError3('the error values:', -10**21, 10e20)
except UserError3 as error:
    print(f'{error.msg}: {error.prev:.2e}, {error.next:.2e}')

the error values:: -1.00e+21, 1.00e+21

In [49]:
class Error(Exception): pass
class ZeroValue(Error): pass
def check_number(n):
    try:
        if n != 0: return n
        else: raise ZeroValue
    except ZeroValue:
        print("the argument is equal to zero, select another value")
check_number(0), check_number(5)

the argument is equal to zero, select another value

(None, 5)

In [50]:
from urllib.request import urlopen
def check_web(url):
    try:
        w = urlopen(url)
        if w.info().get_content_type() == 'text/html':
             return w.read().decode('utf-8')
    except IOError:
        print('try another Python module to read the link:\n',url)
url='http://olympus.realpython.org/profiles/dionysus'
html = check_web(url)
print(html)
url='https://realpython.com/python-web-scraping-practical-introduction/'
html = check_web(url)

<html>
<head>
<TITLE >Profile: Dionysus</title  / >
</head>
<body bgcolor="yellow">
<center>
<br><br>
<img src="/static/dionysus.jpg" />
<h2>Name: Dionysus</h2>
<img src="/static/grapes.png"><br><br>
Hometown: Mount Olympus
<br><br>
Favorite animal: Leopard <br>
<br>
Favorite Color: Wine
</center>
</body>
</html>

try another Python module to read the link:
 https://realpython.com/python-web-scraping-practical-introduction/

`match & case` statements

In [51]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
def where_is(point):
    match point:
        case Point(x=0, y=0): return "O: (0, 0)"
        case Point(x=0, y=y): return f"OY: (0, {y})"
        case Point(x=x, y=0): return f"OX: ({x}, 0)"
        case Point(x=x, y=y) if x == y: return f"XY: {x, x}"
        case Point(x=x, y=y): return f"XOY: {x, y}"
        case _: return "Not a point"
for p in [Point(0, 1), Point(1, 1), (0, 0)]:
    print(where_is(p))

OY: (0, 1)
XY: (1, 1)
Not a point

In [52]:
class Point3D:
    __match_args__ = ('x', 'y', 'z')
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z
    def __repr__(self):
        return f"Point3D(x={self.x}, y={self.y}, z={self.z})"
def where_are(points):
    match points:
        case []: return "No points"
        case [Point3D(x=0, y=0, z=0)]: return "O: (0, 0, 0)"
        case [Point3D(x=x, y=y, z=z)]:
            return f"XYZ: {x, x, x}" if x==y==z else f"3D: {x, y, z}"
        case [Point3D(x=x1, y=y1, z=0), Point3D(x=x2, y=y2, z=0)]:
            return f"XOY: {(x1, y1, 0), (x2, y2, 0)}"
        case [Point3D(x=0, y=y1, z=z1), Point3D(x=0, y=y2, z=z2)]:
            return f"YOZ: {(0, y1, z1), (0, y2, z2)}"
        case [Point3D(x=x1, y=0, z=z1), Point3D(x=x2, y=0, z=z2)]:
            return f"XOZ: {(x1, 0, z1), (x2, 0, z2)}"
        # ...
for p in [[], [Point3D(0, 0, 0)], [Point3D(2, 2, 2)], [Point3D(2, 2, 3)],
          [Point3D(x, 0, z) for [x, z] in [[1, 2], [3, 4]]]]:
    print(where_are(p))

No points
O: (0, 0, 0)
XYZ: (2, 2, 2)
3D: (2, 2, 3)
XOZ: ((1, 0, 2), (3, 0, 4))

In [53]:
def type_of(var):
    match var:
        case None as var: return "<none>"
        case bool() as var: return "<boolean>"
        case int() | float() | complex() as var: return "<number>"
        case dict() as var: return "<dictionary>"
        case list() | tuple() as var: return "<list or tuple>"
        case frozenset() | set() as var: return "<set or frozenset>"
        case str() as var: return "<string>"
        case _: return "<another type>"
print(type_of(None), type_of(...), type_of(True), type_of([1, 2]),)

<none> <another type> <boolean> <list or tuple>

In [54]:
def match_dict(dict_):
    match dict_:
        case {"name": "Tom", "age": 29, "level": 4.8}:
            return f"items are exactly the same with {dict_}"
        case {"name": "Tom", "age": 29} | {"name": "Tom", "level": 4.8}:
            return f"two default items are in {dict_}"
        case {"name": "Tom"}:
            return f"there is one default item in {dict_}"
        case _:
            return "no matches"
(match_dict({"name": "Tom", "age": 29, "level": 4.8}),
 match_dict({"name": "Tom", "age": 31, "level": 4.8}),
 match_dict({"name": "Tom", "age": 31, "level": 4.7}),
 match_dict({"name": "Jim", "age": 31, "level": 4.7}))

("items are exactly the same with {'name': 'Tom', 'age': 29, 'level': 4.8}",
 "two default items are in {'name': 'Tom', 'age': 31, 'level': 4.8}",
 "there is one default item in {'name': 'Tom', 'age': 31, 'level': 4.7}",
 'no matches')